<!--Template: Inform User-->
<ion-view view-title="Cupom App">
  <ion-content class="padding">
    <h2>Bem vindo ao Cupom App</h2>
    <br/>
    <p>
    <strong>Manual: </strong>Para cadastrar as informações do cupom manualmente entre na guia "Cupom" e digite as informações solicitadas na guia em questão.
    </p>
    <br/>
    <p>
    <strong>QR Code: </strong>Caso o cupom posssua um QR code e seja desejado cadastra-lo por este entre na guia "QR Code" e tire uma foto do QR code do cupom.
    </p>
    <br/>
    <p>
      <strong>Foto: </strong> Para cadastrar as informações do cupom a partir de uma foto deste entre na guia "Foto" e tire uma foto do cupom, onde seja legivel o: COO, Data, CNPJ e Valor total.
    </p>
    <br/>
    <p>
      <strong>Obrigado por utilizar o aplicativo Cupom App.</strong>
    </p>
  </ion-content>
</ion-view>
