<!--Template: Inform User-->
<ion-view view-title="Sobre">
  <ion-content class="padding">
    <section>
      <p class="p_home">O Educandário Bezerra de Menezes foi fundado no ano de
        1953 por João Câncio e sua Mulher Dona Ottília Wey Pereira.
A ideia da fundação era a construção de um Lar para meninas órfãs.
      </p> 

      <p class="p_home">
        Hoje o Educandário Bezerra de Menezes atende crianças de 06 a 14 anos
        de idade, através de seu projeto social de apoio ao fortalecimento de
        vínculos de seus atendidos.
      </p>
      <img src="img/icon.png" class="img_logo" >

    </section>
  </ion-content>
</ion-view>
