<!--Template: Inform User-->
<ion-view view-title="Cupom App">
  <ion-content class="padding">
    <section>
      <h2 class="h2_home">Bem vindo ao Cupom App</h2>

      <p class="p_home">
      <strong>Manual: </strong>Para cadastrar as informações do cupom manualmente entre na guia "Cupom" e digite as informações solicitadas na guia em questão.
      </p>

      <p class="p_home">
      <strong>QR Code: </strong>Caso o cupom posssua um QR code e seja desejado cadastra-lo por este entre na guia "QR Code" e tire uma foto do QR code do cupom.
      </p>

      <p class="p_home">
        <strong>Foto: </strong> Para cadastrar as informações do cupom a partir de uma foto deste entre na guia "Foto" e tire uma foto do cupom, onde seja legivel o: COO, Data, CNPJ e Valor total.
      </p>

      <p class="p_home">
        <strong>Obrigado por utilizar o aplicativo Cupom App.</strong>
      </p>
    </section>
  </ion-content>
</ion-view>
