<!--Template: Inform User-->
<ion-view view-title="Bem Vindo!">
  <ion-content class="padding">
    <section>

      <img class="img_qrcode" src="img/qrcode.png" alt="foto de um cupom com QR-Code" />

      <p class="p_home">
        Ajude uma criança, doe seu cupom fiscal tirando uma foto do código do cupom semelhante a imagem acima, caso não tenha informe manualmente as informações necessárias.
      </p>
      <div class="home_buttons">
        <button class="button button-block button-positive" name="qrcode">Tirar Foto</button>
        <a href="#/tab/cupom" class="button button-block button-positive" type="button" name="manual">Informe Manualmente</a>
      </div>
    </section>
  </ion-content>
</ion-view>
