/* Aparencia geral do app */
section {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

/*  Cuida da home do app */
.h2_home {
  text-align: center;
  font-size: 20px;
  padding-bottom: 15px;
}

.p_home {
  padding-left: 5vh;
  padding-right: 5vh;
  font-size: 14px;
  text-align: justify;
  padding-bottom: 0px;
  padding-top: 0px;
}

/* Cuida do cadastrar cupom manual */
.label_cupom {

}

.ion-content_cupom {
    padding-top: 30px;
}

/* formata imagem aba sobre*/
.img_logo {
  height: 30%;
  width: 30%;
  margin: 0 auto;
}


/*Image de QR-Code Home*/
.img_qrcode {
  padding-bottom: 20px;
  margin: 0 auto;
  width: 70%;
}

/*Ajuda no Preenchimento*/
.helpper {
  margin: 10px auto;
}

.cupomAlert {
  width: 100%;
}

.cupomSucess {
  width: 100%;
}

/* Spinner  */
.divSpinner {
  color: blue;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
  z-index: 10;
}

.spinner svg {
  width: 100% !important;
  height: 100% !important;
  margin: auto !important;
}
